@font-face{
	font-family:coluna;
	src: url(coluna.otf);
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	z-index: 2;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  .animation {
	position: relative;
	-webkit-animation-name: animation;
	-webkit-animation-duration: 1s;
	animation-name: animation;
	animation-duration: 1s
  }
  
  @-webkit-keyframes animation {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes animation{ 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }
  
body{
	display: block;
	float:left;
}
header {
	height:10%;
	width:15%;
	float:left;
	position:sticky;
	top:0;
	background-color:grey;
	z-index:2;
}
header:hover{
	background-color: lavender;
	transition: 0.5s;
}
a:link {
	text-decoration: none;
	color: black;
  }
  a:visited {
	text-decoration: none;
	color: black;
  }
  
  a:hover {
	text-decoration: underline;
	color: black;
  }
  
  a:active {
	text-decoration: underline;
	color: black;
  }
nav {
	height:10%;
	width:85%;
	position:sticky;
	top:0;
	float:left;
	background-color:grey;
	z-index:2;
}
.icon img{
padding-top: 60% ;
padding-left: 40%;
height: 56%;
width:220px;
}
#bg_vid{
	height:92.2%;
	width:100%;
}
.icon {
	height:100%;
	width:10%;
}
.onglet {
	height:100%;
	width:25%;
	float:left;
	}
.onglet:hover{
		background-color: lavender;
		transition: 0.5s;
}
.onglet p{
	font-family: coluna;
	font-size: 135%;
	letter-spacing:3px;
	text-align: center;
}
.texte{
	width:78%;
	height:92.3%;
	opacity:0;
	position:absolute;
	top:10%;
	left:11%;
	background-color:grey;
	color:white;
	text-align: center;
	z-index:1;
}
.texte:hover{
	width:78%;
	height:92.3%;
	opacity:1;
	position:absolute;
	top:10%;
	left:11%;
	background-color:grey;
	color:white;
	transition: 0.5s;
	text-align: center;
	z-index:1;
}
.texte_produit{
	width:99%;
	height:100%;
	opacity:0;
	position:absolute;
	background-color:grey;
	color:white;
	text-align: center;
	z-index:1;
}
.texte_produit:hover{
	width:99%;
	height:100%;
	opacity:1;
	position:absolute;
	background-color:grey;
	color:white;
	text-align: center;
	z-index:1;
	transition: 0.5s;
}
article.video{
	width:100%;
	float:left;
}
h1{
	font-size: 300%;
	font-family: coluna;
	letter-spacing:3px;
}
h2{
	font-size: 200%;
	font-family: coluna;
	text-align: center;
	letter-spacing:3px;
}
article h2{
	text-align: center;	
}
section .titre h2{
	text-align: center;
}
.produits img{
	position: relative;
	height: 100%;
	width:100%; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
}
footer{
	width:100%;
	height:25%;
	background-color:black;
	float:left;
}
div.footer{
	width:25%;
	height:100%;
	float:left;
}
div.footer img{
	height:45%;
	width:20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.reseau img{
	height:30%;
	width:11%;
	float:left;
	margin-right:6.5%;
	margin-left:6.5%;
}
div.reseau img:hover{
background-color: lavender;
transition: 0.5s;
}
h4{
	color:white;
	text-align: center;
	font-size: 95%;
	font-family: coluna;
	letter-spacing:3px;
}
h5{
	color:white;
	text-align: center;
	font-family: coluna;
	letter-spacing:3px;
	float: left;
	margin-left:4.5%;
	margin-right:4.5%;
}
a h5:link {
	text-decoration: none;
  }
  a h5:visited {
	text-decoration: none;
  }
  a h5:hover {
	text-decoration: underline;
	color:white;
  }
  a h5:active {
	text-decoration: underline;
	color: white;
  }
h3{
	color:white;
	text-align: center;
	font-size: 300%;
	font-family:coluna;
	letter-spacing:3px;
}
button.bouton{
	border-radius: 4px;
	background-color: grey;
	border: all;
	border-color:black;
	color: black;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	margin: 5px;
	font-family: coluna;
	letter-spacing:3px;
	cursor: pointer;
}
button.bouton:hover{
	border-radius: 4px;
	background-color: lavender;
	border: all;
	border-color:black;
	color: black;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: coluna;
	letter-spacing:3px;
}